user root;
worker_processes auto ;

error_log  {{ nginx_log_dir }}/error.log {{ nginx_error_log_level }};
pid        {{ nginx_pid_file }};

worker_rlimit_nofile {{ nginx_worker_rlimit_nofile }};

events {
    worker_connections {{ nginx_worker_connections }};
}

http {
	default_type  application/octet-stream;
	log_format  main  '$remote_addr - $remote_user [$time_local] "$request" "$request_uri"'
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for" $request_time $upstream_connect_time $upstream_header_time $upstream_response_time';
	access_log  {{ nginx_log_dir }}/access.log main;
	keepalive_timeout {{ keepalive_timeout }};
	gzip {{ nginx_gzip }};
	gzip_types  text/css text/javascript application/javascript;
	include /etc/nginx/mime.types;
	include /etc/nginx/conf.d/*.conf;
}

